@import "./variables";
table {
    @apply w-full text-left rtl:text-right text-gray-800 mt-5;

    thead {
        @apply sticky z-[1] top-0 text-sm text-gray-700 text-white bg-main-color rounded uppercase bg-gray-50;
        tr {
            th {
                @apply px-6 py-3;
            }
        }
    }
    th {
        background-color: $mainColor;
    }

    tr {
        &:nth-child(even) {
            background-color: $secondaryColor;
        }

        /* Estilos para filas impares */
        &:nth-child(odd) {
            background-color: $lightColor; /* Color de fondo para filas impares */
        }

        &.bg-main-color {
            background-color: $mainColor;
        }

        &.category {
            background-color: $mainColor;
            color: white;
            text-transform: uppercase;
            @apply w-full border-t-4 border-white;
        }

        td {
            @apply border px-4 py-2;

            &:first-child {
                @apply font-bold;
            }

            &:last-child {
                @apply border px-4 py-2 text-center;
            }
        }
    }
}
