body{
    background: #e9e6dc;
}
.icon{
    width:20px;
    height:auto;
    margin:0 10px;
}

.mainContainer{
    min-height: 80vh;
}

.text-main-color{
    color:#9e915f
}
.bg-main-color{
    background:#9e915f
}
.bg-secondary-color{
    background:#e0dccb
}
.bg-main-color-dark{
    background:#574e28
}

.border-main-color{
    --tw-border-opacity: 1;
    border-color: #9e915f;
}

